<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<body>
  May Node and Express be with you.
  <button id="log-or-sign" type="button">Login / Signup</button>
  <ul class="quotes">
    <% for(var i=0; i<quotes.length; i++) {%>
      <li class="quote">
        <span><%= quotes[i].name %></span>
        <span><%= quotes[i].quote %></span>
      </li>
    <% } %>
  </ul>
</br>
  <form action="/quotes" method="POST">
    <h2>Add a new quote to DB</h2>
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="quote" name="quote">
    <button type="submit">Submit</button>
  </form>
  <div>
  <!-- <form action="/quotes" method="PUT"> -->
    <h2>Replace last quote written by Doroty to a quote written by orel</h2>
    <input id="replacename" type="text" placeholder="name to replace" name="replace">
    <input id="replaceto" type="text" placeholder="name to show" name="replaceto">
    <input id="quoteto" type="text" placeholder="quote" name="newquote">
    <button id="update" type="button"> Darth Vadar invades! </button>
  <!-- </form> -->
  <h2>Delete Doroty first quote</ht2>
  <button id="delete"> Delete first Doroty </button>
  <script src="main.js"></script>
</div>
</body>
</html>
