<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<body>
<h3>YOU ARE SYGNED IN, now i should use NEXT() to give you jwt </h3>

  <!-- <script src="./users/signup.js"></script> -->
</div>
</body>
</html>
